<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="tab-content">
    <div class="container" id="home" class="tab-pane fade">
        <h3>homes</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><button id="btn-add-tab" type="button" class="btn btn-primary pull-right">&#43</button></p>
                    <ul id="tab-list" class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#home1" role="tab" data-toggle="tab"><span>&#127968 1 </span><span class="glyphicon glyphicon-pencil text-muted edit"></span></a></li>
                    </ul>
                    <div id="tab-content" class="tab-content">
                        <div class="tab-pane fade " id="home1">
                            <h3>diffrent section in home 1</h3>
                            <div class="grid-container">
                                <img src="../static/images/im.png" />
                                <img src="../static/images/im.png" />
                                <img src="../static/images/im.png" />
                                <img src="../static/images/im.png" />
                                <img src="../static/images/plus.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script  src="../static/js/script.js"></script>

</body>
</html>
